/* src/routes/Home.css */
.home-page {
  position: relative;  /* so the button can be absolutely positioned */
  min-height: 100vh;
  background-color: #E6F9E5;
}
  

  .home-content {
    flex: 1;
    padding: 3rem;
  }
  
  .home-welcome {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .home-widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10.5rem;
  }
  
  .home-widget {
    background: #fff;
    border-radius: 0.5rem;
    padding: 5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  